// Black/white scale
$white: #fff !default;
$grey-light: #f4f4f4;
$grey: #dbdbdb;
$grey1: #acacac;
$grey2: #b4b4b4;
$grey3: #424242;
$grey4: #636363;
$grey5: #1b1b1b;
$black: #000;

// Base colors
$dark-blue1: #1b2735;
$dark-blue2: #090a0f;
$dark-blue3: #243346;
