@import 'variables.scss';

@mixin desktop-style {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 700px;
  background: $dark-blue3;
  border: 5px solid $white;
  border-radius: 10px;
  text-align: center;
  padding: 24px 32px;

  &__size {
    &-large {
      height: 70vh;
      min-height: 680px;
    }

    &-medium {
      height: 50vh;
      min-height: 484px;
    }

    &-small {
      height: 25vh;
      min-height: 242px;
    }
  }

  &__title {
    font-family: $font-heading;
    text-align: center;
    margin: 12px auto;
  }
}

@mixin mobile-style {
  justify-content: normal;
  width: auto;
  padding: 24px;

  &__size {
    &-large,
    &-medium,
    &-small {
      height: auto;
      min-height: auto;
      max-height: 80vh;
    }
  }

  &__title {
    @include fontSize($font-size--x-large);
    margin: 8px auto;
  }

  &__description {
    @include fontSize($font-size--medium);
    margin: 8px auto;
  }
}

.section {
  @include desktop-style;

  @include to(medium) {
    @include mobile-style;
  }
}
