.home-base
  cc-section(
    heading="Welcome To Secret Santa Generator!"
    description="Organise your Secret Santa by creating your own group or enter a group ID and find out who you have got!"
    size="small"
  )