@import 'variables.scss';

@mixin desktop-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  cc-santa {
    position: fixed;
    display: flex;
    z-index: -1;
    top: 17vh;
  }

  &__cta {
    display: flex;
    justify-content: center;
    margin: 32px auto;
  }

  &__choice {
    font-style: italic;
    color: $grey;
    margin: auto 4px;
  }
}

@mixin mobile-style {
  align-items: normal;

  cc-santa {
    top: 69vh;
    left: 64vw;
    z-index: 2;
  }

  &__cta {
    flex-flow: column;
    margin: 16px auto;
  }

  &__choice {
    margin: 8px auto;
  }
}

.home-base {
  @include desktop-style();

  @include to(extraLarge) {
    cc-santa {
      top: 23vh;
    }
  }

  @include to(large) {
    cc-santa {
      top: 21vh;
    }
  }

  @include to(medium) {
    @include mobile-style();
  }

  @include to(small) {
    cc-santa {
      top: 72vh;
      left: 50vw;
    }
  }

  @include to(extraSmall) {
    cc-santa {
      top: 64vh;
    }
  }
}
