.santa
  .santa__container
    .santa__head
      .santa__face
        .santa__redhat
          .santa__whitepart
          .santa__redpart
          .santa__hatball
        .santa__eyes
        .santa__beard
          .santa__nouse
          .santa__mouth
      .santa__ears
    .santa__body
