.footer
  .footer__socials
    img(src="/assets/icons/linkedin.svg")
    img(src="/assets/icons/twitter.svg")
    img(src="/assets/icons/github.svg")
    img(src="/assets/icons/envelope.svg")
  .footer__copyright © 2020 Copyright: Michael Beaseley
