@import 'variables.scss';

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  border-top: 2px solid $white;
  background-color: $dark-blue1;
  z-index: 2;

  &__socials {
    display: flex;
    align-items: flex-end;

    img {
      width: 16px;
    }
  }

  &__copyright {
    font-size: $font-size--small;
  }
}
