@import 'variables.scss';

@mixin desktop-style {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;

  &__logo {
    display: flex;
    align-self: center;
    margin: 0 auto;
    height: 300px;
  }
}

@mixin mobile-style {
  &__logo {
    height: 150px;
  }
}

.splash-screen {
  @include desktop-style;

  @include to(medium) {
    @include mobile-style;
  }
}
