@import './variables.scss';

body {
  background-color: radial-gradient(ellipse at bottom, $dark-blue1 0%, $dark-blue2 100%);
  color: $white;
  font-family: $font-base;
  touch-action: manipulation;
  overflow: hidden;
  margin: 0;
}
